{% extends "base_generic.html" %}

{% block content %}
<h1>Main Page</h1>
<p>Velcome to the <em>Book World</em>. This is very simple web-app wriited on Django. Python developped like an example using Pycharm  ></p>
<h2>Dinamic content</h2>
<p>Database of Book World contain:</p>
<ul>
    <li><strong>Book number:</strong> {{num_books}}</li>
    <li><strong>Book instances number:</strong> {{num_instances}}</li>
    <li><strong>Books available:</strong> {{num_instances_available}}</li>
    <li><strong>Authors number:</strong> {{num_authors}}</li>
</ul>
<p>Number of visits - {{num_visits}}</p>
{% endblock %}