{% extends "base_generic.html" %}
{% block content %}
<h3>Authors list in DB</h3>
<table>
    <thead><th>ID</th><th>----First name----</th><th>----Last name----</th></thead>
    {% if author %}
    {% for author in author.all %}
    <tr>
        <td>{{author.id}}</td>
        <td>----{{author.first_name}}</td>
        <td>-----{{author.last_name}}</td>
        <td><a href="/edit1/{{author.id}}">Change</a>
            <a href="/delete/{{author.id}}">Delete</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>There is no authors in DB</p>
    {% endif %}
</table>
<h3>Add an author to DB</h3>
<form action="/create/" method="post">
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type="submit" value="Save">

</form>
{% endblock %}